Source: quantum-launcher
Package: quantum-launcher
Version: 0.3.1
Maintainer: Mrmayman <navneetkrishna22@gmail.com>
Architecture: any
Description: A simple Minecraft Launcher written in Rust.
Build-Depends: build-essential, debhelper
Depends: ${shlibs:Depends}, ${misc:Depends}