#!/usr/bin/make -f

clean:
	@# Do nothing

build:
	@# Do nothing

binary:
    mkdir -v -p quantum-launcher/usr/{bin,share/{applications,metainfo,pixmaps}}
    mv 'quantum-launcher/usr/bin/quantum_launcher' '.quantum-launcher/usr/bin/quantum-launcher'
    cp '../quantum-launcher.desktop' './quantum-launcher/usr/share/applications/quantum-launcher.desktop'
    cp '../../icon/ql_logo.png' './quantum-launcher/usr/share/pixmaps/ql_logo.png'

    dh_makeshlibs
    dh_gencontrol
	dh_builddeb